// bower:scss
// endbower

@import "variables";

* {
  font-family: Avenir, serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fixed-header {
  display: none;
}

.nav-icon {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.header-logo {
  align-self: center;
  margin-top: 16px;

  img {
    width: 103px;
    height: 89px;
  }
}

.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;

  a {
    text-decoration: none;
    color: $miviu-link-default-color;

    &:hover {
      color: $miviu-link-selected-color;
    }
  }

  li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 45px;
    padding: 0 10px;

    &:before {
      content: '·';
      color: $miviu-link-default-color;
      position: relative;
      left: -10px;
    }

    &:first-child:before {
      display: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 0;
  padding-right: 0;

  & > div {
    flex-grow: 1;
  }
}

.active {
  a {
    color: $miviu-link-selected-color;
  }
}

/*==========  Profile  ==========*/

.profile {
  background: url('../images/profile-placeholder.svg') no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.profile > div {
  flex: 1;
}

.overlay {
  background-color: $miviu-img-overlay-color-alpha;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  font-size: 1.4em;
  letter-spacing: 0.04em;
  font-weight: 700;

  color: $miviu-btn-text-color;

  .name {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .email {
    margin-top: 10px;

  }

  .phone {
    font-size: 1.7em;
  }

  .object {
    text-transform: capitalize;
  }
}

.img-round-sm {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 5px #FFF;
  background: url("../images/profile-placeholder.svg") no-repeat 50% 50%;
  background-size: cover;
  flex-grow: 3;
}

/*==========  Objects  ==========*/

.green-bg {
  background-color: $miviu-green-bg-color-alpha;
}

.search-header-area {

  display: flex;
  justify-content: center;

  h1 {
    text-transform: uppercase;
    color: $miviu-btn-text-color
  }

}

.search-main-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-area {
    display: flex;
    flex-wrap: wrap;
    color: $miviu-link-default-color;
    text-align: center;

    span {
      color: $miviu-btn-text-color;
    }
  }

  .search-input {
    background-color: transparent;
    border: solid 5px black;
  }

  & > p {
    text-align: center;
    color: $miviu-btn-text-color;
  }
}

.search-logo-area {
  display: flex;
  justify-content: center;
  align-items: center;

  .search-logo-box {
    position: relative;
  }

  .search-logo {
    position: absolute;
    top: 3px;
    right: 6px;
    z-index: 1;
    max-height: 100px;
  }

  .search-logo-overlay {

    background-color: #FFF;
    width: 112px;
    height: 112px;
    border-radius: 50%;
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .page-container {
    flex-direction: row;
  }

  .fixed-header {
    display: flex;
  }

  .horizontal-logo-box {
    display: flex;
    width: 290px;
    height: 100px;
    max-height: 100px;

    .logo {
      width: 100%;
      padding: 10px 0;
      max-width: 105px;
    }

    .logo-title-box {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      background-color: $miviu-nav-bg-color-dark;
    }

    .logo-title {
      align-self: center;
      max-width: 95px;
      max-height: 55px;
    }
  }

  .green-fill {
    height: 100px;
    flex-grow: 1;
    background-color: $miviu-nav-bg-color-light;
  }

  .header {
    width: 290px;

    .header-logo {
      display: none;
    }
  }

  .main-nav {
    flex-direction: column;
    text-indent: 70px;

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;

      &:before {
        content: '';
      }
    }

    .nav-icon {
      display: block;
      position: absolute;
      top: 19px;
      left: 40px;
    }

  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
