$miviu-nav-bg-color-light: #7CCC55;
$miviu-img-overlay-color-alpha: rgba(124,204,85, .9);
$miviu-green-bg-color-alpha: rgba(124,204,85, .8);
$miviu-nav-bg-color-dark: #60BA34;
$miviu-link-default-color: #1A1A1B;
$miviu-link-selected-color: #9AE581;
$miviu-btn-cancel-color: #DD3C4C;
$miviu-btn-accept-color: $miviu-nav-bg-color-light;
$miviu-btn-text-color: #FFFFFF;
