$miviu-nav-bg-color-light: #79CE4D;
$miviu-nav-bg-color-dark: #5DBC27;
$miviu-link-default-color: #1A1A1B;
$miviu-link-selected-color: #9AE581;
$miviu-btn-cancel-color: #DD3C4C;
$miviu-btn-accept-color: $miviu-nav-bg-color-light;
$miviu-btn-text-color: #FFFFFF;
