<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="miviuApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">Você está usando um navegador <strong>desatualizado</strong>. Por favor <a href="http://browsehappy.com/">atualize seu navegador</a> para melhorar sua experiência.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="fixed-header">
      <a ng-href="/" class="horizontal-logo-box">
        <img src="images/miviu-logo.svg" class="logo"/>
        <div class="logo-title-box">
          <img src="images/miviu-text.svg" class="logo-title"/>
        </div>
      </a>
      <div class="green-fill"></div>
    </div>

    <div class="page-container">
      <div class="header" ng-controller="HeaderController">
        <div class="header-logo">
          <a ng-href="/"><img src="images/vertical-logo.svg" alt="Miviu logotype"></a>
        </div>
        <ul class="main-nav">
          <li ng-if="currentAuth" ng-class="{ active: isActive('/profile')}"><img class="nav-icon" src="images/nav-profile-icon.svg"><a ng-href="/profile">Perfil</a></li>
          <li ng-if="currentAuth" ng-class="{ active: isActive('/objects')}"><img class="nav-icon" src="images/nav-objects-icon.svg"><a ng-href="/objects">Objetos</a></li>
          <li ng-class="{ active: isActive('/search')}"><img class="nav-icon" src="images/nav-search-icon.svg"><a ng-href="/search">Buscar</a></li>
          <li ng-if="currentAuth" ng-click="signOut()"><img class="nav-icon" src="images/nav-logout-icon.svg"><a>Sair</a></li>
          <li ng-if="!currentAuth" ng-class="{ active: isActive('/login')}"><a ng-href="/login">Entrar</a></li>
        </ul>
      </div>

      <div ng-view="" class="container"></div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Firebase -->
    <script src="/bower_components/firebase/firebase.js"></script>

    <!-- AngularFire -->
    <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC1M1xCoDIracBBPxHBmKsd6reEogz0SS8",
        authDomain: "miviu-3d5b9.firebaseapp.com",
        databaseURL: "https://miviu-3d5b9.firebaseio.com",
        storageBucket: "miviu-3d5b9.appspot.com",
        messagingSenderId: "17525185385"
      };
      firebase.initializeApp(config);
    </script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/objects.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/services/profile.js"></script>
        <script src="scripts/controllers/tag.js"></script>
        <script src="scripts/services/object.js"></script>
        <script src="scripts/services/rights.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/controllers/objectsedit.js"></script>
        <!-- endbuild -->
</body>
</html>
