<div class="container">
  <div class="login-logo-area">
    <img src="../images/vertical-logo.svg">
  </div>
  <div class="login-main-area">
    <h3>Login</h3>
    <form class="login-form">
      <label for="emailInput">Email</label>
      <input type="text" id="emailInput">
      <label for="passwordInput">Senha</label>
      <input type="password" id="passwordInput">
      <div class="login-providers">
        <a href="">Facebook</a>
        <a href="">Gmail</a>
        <a href="">Entrar</a>
      </div>
      <a ng-href="/signup">Registrar-se</a>
    </form>
    <a href="">Esqueci minha senha</a>
  </div>
</div>
