<div class="container">
  <div class="login-logo-area">
    <img src="../images/vertical-logo.svg">
  </div>
  <div class="login-main-area">
    <h3>Login</h3>
    <form class="login-form">
      <label for="emailInput">Email</label>
      <input type="text" id="emailInput" ng-model="credentials.email" required>
      <label for="passwordInput">Senha</label>
      <input type="password" id="passwordInput" ng-model="credentials.password" required>
      <div class="login-providers">
        <a href="" ng-click="signInWithProvider('facebook')">Facebook</a>
        <a href="" ng-click="signInWithProvider('google')">Gmail</a>
        <a href="" ng-click="signIn()">Entrar</a>
      </div>
      <a ng-href="/signup">Registrar-se</a>
    </form>
    <button ng-click="openModal()">Esqueci minha senha</button>
  </div>
</div>
