<div class="diagonal-positive-green-bg"></div>
<div class="login-main-area">
  <div class="panel panel-login">
    <div class="login-logo-area">
      <img src="../images/skate.png">
      <h3 class="heading">Login</h3>
    </div>
    <form class="login-form">
      <input type="text" class="email-input" placeholder="Email" ng-model="credentials.email" required>
      <input type="password" class="password-input" placeholder="Senha" ng-model="credentials.password" required>
      <div class="login-providers">
        <a href="" class="btn-facebook" ng-click="signInWithProvider('facebook')"></a>
        <a href="" class="btn-google" ng-click="signInWithProvider('google')"></a>
        <a href="" class="btn-login" ng-click="signIn()">Entrar</a>
      </div>
      <a ng-href="/signup" class="signup">Registrar-se</a>
    </form>
  </div>
  <a href="" class="forgot-password" ng-click="openModal()">Esqueci minha senha</a>
</div>
