<div ngf-background="user.photoURL" class="profile">
  <div class="overlay">
    <div class="content">
      <div ng-if="!user.photoURL" class="img-round-sm"></div>
      <div ng-if="user.photoURL" ngf-background="user.photoURL" class="img-round-sm"></div>
      <p class="name">{{user.nameMessage}}</p>
      <p class="object">{{user.objectsMessage}}</p>
      <div ng-show="user.objects" class="objects list">

        <div ng-repeat="object in user.objects" style="background-color: white">
          <img style="max-width: 200px" ng-src="{{object.photoURL}}">
          <p>{{object.desc}}</p>
          <p>miviu.com.br/tag/<a style="color: green" ng-href="/tag/{{object.code}}">{{object.code}}</a></p>
          <a ng-href="/objects/{{object.code}}/edit">Editar</a>
        </div>
      </div>
      <p>Gostaria de adicionar um novo objeto?</p>
      <a href="/objects/new">Adicionar Objeto</a>
    </div>
  </div>
</div>
