<div ngf-background="user.photoURL" class="profile">
  <div class="overlay">
    <div class="content">
      <div ng-if="!user.photoURL" class="img-round-sm"></div>
      <div ng-if="user.photoURL" ngf-background="user.photoURL" class="img-round-sm"></div>
      <p class="name">{{user.nameMessage}}</p>
      <p class="email">{{user.email}}</p>
      <p class="phone">{{user.phoneMessage}}</p>
      <p class="object">{{user.objectsMessage}}</p>
      <a ng-href="/profile/edit">Editar</a>
    </div>
  </div>
</div>
