<div class="container green-bg">
  <div class="search-header-area">
    <h1>Buscar</h1>
  </div>
  <div class="search-main-area">
    <div class="search-area">
      <p class="">miviu.com.br<span class="white">/tag/</span></p>
      <input class="search-input" type="text"/>
    </div>
    <p>Se você achou algum objeto basta colocar o final de sua URL para achar o seu dono.</p>
  </div>
  <div class="search-logo-area">
    <div class="search-logo-box">
      <div class="search-logo-overlay"></div>
      <img class="search-logo" src="../images/search-logo.png" alt="Miviu search logo">
    </div>
  </div>
</div>
