<div class="container">
  <div class="signup-image-area">
    <div class="img-round-sm"></div>
    <button type="button">Upload Photo</button>
    <div class="login-providers">
      <a href="">Facebook</a>
      <a href="">Gmail</a>
    </div>
  </div>
  <div class="login-main-area">
    <form class="login-form">
      <label for="nameInput">Nome</label>
      <input type="text" id="nameInput">
      <label for="emailInput">Email</label>
      <input type="text" id="emailInput">
      <label for="passwordInput">Senha</label>
      <input type="password" id="passwordInput">
      <label for="confirmPasswordInput">Confirmar Senha</label>
      <input type="password" id="confirmPasswordInput">
      <label for="phonePrefixInput">Número</label>
      <input type="password" id="phonePrefixInput">
      <input type="password" id="phoneInput">
      <div class="btn-signup-group">
        <a ng-href="/login">Cancelar</a>
        <a href="">Confirmar</a>
      </div>
    </form>
  </div>
</div>
