<div class="overlay">
  <div class="double-pic">

  </div>
  <div class="info-box">
    <h2 class="description">{{object.desc}}</h2>
    <p class="tag">miviu.com.br/tag/<span class="code">{{object.code}}</span></p>
    <p class="name">{{owner.name}}</p>
    <p class="email">{{owner.email}}</p>
    <p class="phone">{{owner.phone}}</p>
    <p>Encontrou este objeto? Por favor ajude seu dono a revê-lo novamente.</p>
  </div>
  <div ng-if="!object">
    <p>Nenhum objeto com esse código foi encontrado</p>
  </div>
</div>
